$general-mobile:'screen and (max-width: 680px)';
$iphonex:'only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3)';
$general-tablet:'max-width:950px';
$desktop:'screen and (min-width:570px)';
$iphoneplus:'only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3)';