@import './constant.scss';

body, html{
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
}

.app-wrapper{

    width:800px;
    margin:0 auto;
    
    *{
        font-size: 16px;
    }

    .todo-list-content{
        min-height: 600px;
        width:350px;
        ul{
            padding-left: 0;
            margin-top:30px;
            li{
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top:15px;
            }

            &.completed-list{
                opacity: 0.5;
                margin-top: 20px;
                li{
                    text-decoration: line-through;
                    
                }
            }
        }
    }

    .todo-input{

        margin-top: 20px;

        &>div:first-of-type{
            flex:2;
        }

        input{
            border:2px solid #CCC;
            width:85%;
            height:46px;
            line-height: 46px;
        }
        
        button{
            background-color: #0AF;
            border-radius: 0;
            color:white;
            border:1px solid #CCC;
            padding:10px 25px;

            &:disabled{
                background-color: lightgray;
            }
        }
    }

    h1{
        font-size: 50px;
    }

    h4{
      font-weight: bold;
      margin-top: 30px;
      font-size: 20px;  
    }

}


